<a href="https://colab.research.google.com/github/Febia-01/Python_learning/blob/main/Python_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction**

In [1]:
print("Hello World")

Hello World

In [2]:
print(2 + 3) # Addition +

5

In [3]:
print(3 - 1) # Sutraction -

2

In [4]:
print(5 * 5) # Multiplication *

25

In [5]:
print(10 / 3) # Division /

3.3333333333333335

In [6]:
print(9 // 4) # Floor division operator //

2

In [7]:
print(10 % 3) # Modulus %

1

In [8]:
print(3 ** 3) # Exponential **

27

**Data** **Types** -> type is a built-in function for checking type of the value provided

In [9]:
print(type(10))

<class 'int'>

In [10]:
print(type(3.14))

<class 'float'>

In [12]:
print(type(1 + 3j)) # i in mathematics, j in Python

<class 'complex'>

In [13]:
print(type("Febia"))

<class 'str'>

In [14]:
print(type([1,2,3]))

<class 'list'>

In [15]:
print(type({'name' : 'Febia'}))

<class 'dict'>

In [16]:
print(type((1,2.3,5)))

<class 'tuple'>

**Built in functions**

In [26]:
print("Febia K Cerillo") # print is a built in function
print(len("String")) # len is a built in function for getting the length of a string
print(type(5)) # type - check data type
print(int(3.14)) # type converted to int - type casting
print(float(3)) # type converted to float
nums = [5,1,3,8,2] # Data for the following operations
print(sum(nums)) # sum of the numbers in the list nums
print(min(nums)) # minimum number of nums
print(max(nums)) # maximum number of nums
print(sorted(nums)) # the sorted list

Febia K Cerillo
6
<class 'int'>
3
3.0
19
1
8
[1, 2, 3, 5, 8]

There are lot of other built in functions like abs(), input(), ascii(), bool(), etc. As we can see there are lot of reserved words in python and we donot use those to declare variables or functions.

**Variables**

Variables store data in a computer memory. A variable refers to a memory address in which data is stored.

Python has several rules for naming variables:
1. must start with a letter or the underscore
2. cannot start with a number
3. no special characters except '_' can be used
4. case sensitive

In [27]:
name = input("Provide your name") # taking input from user and declaring it to name variable
age = input("Your age") # input and variable declaration

print(name)
print(age)

Provide your nameFebia K Cerillo
Your age24
Febia K Cerillo
24

**Numbers**
1. Integers
2. Floating point numbers
3. Complex numbers -> i in Mathematics and j in Python (1+2j)

In [28]:
# Exercise
"""
Declare a first name variable and assign a value to it
Declare a last name variable and assign a value to it
Declare a full name variable and assign a value to it
Declare a country variable and assign a value to it
Declare a city variable and assign a value to it
Declare an age variable and assign a value to it
Declare a year variable and assign a value to it
Declare a variable is_married and assign a value to it
Declare a variable is_true and assign a value to it
Declare a variable is_light_on and assign a value to it
Declare multiple variable on one line
"""
first_name = "Febia"
last_name = "Cerillo"
full_name = "Febia K Cerillo"
country = "India"
city = "Kottayam"
age = 24
year = 2001
is_married = True
is_true = True
is_light_on = True
height, weight = 155, 54

"""
Check the data type of all your variables using type() built-in function
Using the len() built-in function, find the length of your first name
Compare the length of your first name and your last name
Declare 5 as num_one and 4 as num_two
Add num_one and num_two and assign the value to a variable total
Subtract num_two from num_one and assign the value to a variable diff
Multiply num_two and num_one and assign the value to a variable product
Divide num_one by num_two and assign the value to a variable division
Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
Calculate num_one to the power of num_two and assign the value to a variable exp
Find floor division of num_one by num_two and assign the value to a variable floor_division
The radius of a circle is 30 meters.
  1. Calculate the area of a circle and assign the value to a variable name of area_of_circle
  2. Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
  3. Take radius as user input and calculate the area.
Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names
Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords
"""